*, body {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: medium;
}

.scrol {
    height: 600px;
    overflow-y: scroll;
}

.centrarhv {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 10000;
}
/*font-weight: 200;*/
/*#0277BD color azul*/
/*#d7d7d7 colo gris*/
/*#312783 color azul institucion*/

.fondo_titulo {
    color: white;
    background-color: #312783;
    height: 40px;
    padding: 0;
    margin: 0;
}

.fondo_label {
    background-color: #312783;
    width: 400px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 50px;
    color: white;
}

.negrita {
    font-weight: 600;
    color: #312783;
}
/******/

.sin_borde {
    box-sizing: border-box;
    background: transparent;
    border: 1px solid transparent;
}


.linea_texto input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid transparent;
    border-bottom-color: black;
    padding: 25px 0px 1px;
    font-size: medium;
    color: #312783;
}
.linea_texto input:focus {
        outline: none;
        border-bottom-width: 3px;
        border-bottom-color: #0277BD;
    }


.u_icon i {
    position: relative;
    font-size: 20px;
    color: black;
    margin: 20px 0 0 0;
    /*display:flex;*/
    margin-left: 20px;
}

.u_icon imput, image, img {
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: black;
    margin: 20px 0 0 0;
    display: flex;
    margin-left: 20px;
}

.u_spam span {
    position: relative;
    font-size: 25px;
    color: black;
    margin: 20px 0 0 0;
    display: flex;
    margin-left: 20px;
}



/*.icon :hover{
    width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}

/*.circulo {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}*/

.espacio {
    /*position:relative;*/
    left: 20px;
}

.redondear {
    border-radius: 20px;
}

.img_medida {
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
}





.color_texto label {
    color: #d7d7d7;
    font-weight: 100;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px;
}



.cont_eti_texto {
    display: flex;
    background-color: #fafafa;
}
/*contenedor del input*/
.eti_texto {
    position: relative;
    /*border-radius: 10px;*/
    height: 56px;
}

    /*hace la caja del texto solo raya*/
    .eti_texto input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: transparent;
        border: 1px solid transparent;
        border-bottom-color: #d7d7d7;
        padding: 35px 0px 1px;
        font-size: medium;
        color: #312783;
        
    }
        /*ubica label encima del textbox*/
        .eti_texto input + label {
            display: block;
            position: absolute;
            top: 65%;
            transform: translateY(-90%);
            color: #d7d7d7;
            transform-origin: left top;
            user-select: none;
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
        }

    /*hace label raya del dropdown*/
    .eti_texto select {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: transparent;
        border: 1px solid transparent;
        border-bottom-color: #d7d7d7;
        padding: 35px 0px 1px;
        font-size: medium;
        color: black;
    }
        /*ubica label encima del textbox*/
        .eti_texto select + label {
            display: block;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            color: #d7d7d7;
            transform-origin: left top;
            user-select: none;
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
        }


    .eti_texto input:focus {
        outline: none;
        border-bottom-width: 3px;
        border-bottom-color: #0277BD;
    }

    .eti_texto select:focus {
        outline: none;
        border-bottom-width: 3px;
        border-bottom-color: #0277BD;
    }

    .eti_texto input:focus + label {
        color: #0277BD;
    }

    .eti_texto select:focus + label {
        color: #0277BD;
    }

    .eti_texto input:focus + label,
    .eti_texto input.is-valid + label {
        transform: translateY(-100%);
    }


.sin_borde {
    box-sizing: border-box;
    background: transparent;
    border: 1px solid transparent;
    border-bottom-color: black;
}

/*.dropdownlist
    {
        color: #fff !important;
        font-size: 20px !important;
        padding: 20px 5px !important;
        border-radius: 5px !important;
        background-color: #cc2a41 !important;
        font-weight: bold !important;
    }*/



.cont_circulo_img {
    display: inline-flex;
}

.circulo_img {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

    .circulo_img .img {
        /*margin: 0 20px;*/
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }




    .circulo_img:hover {
        background: #d7d7d7;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        border-radius: 50%;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }


    .circulo_img .img .tooltip {
        position: absolute;
        top: 0px;
        background: #ffd800;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        font-size: 15px;
        padding: 5px 15px;
        border-radius: 25px;
        color: white;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }

    .circulo_img .img:hover .tooltip {
        opacity: 0.7;
        pointer-events: auto;
        top: 45px;
    }

    .circulo_img .img .tooltip:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }

    .circulo_img .editar:hover .tooltip:before {
        background: #ffd800;
         
    }

    .circulo_img .buscar:hover .tooltip:before {
        background: #ffd800;
    }

    .circulo_img .actualizar:hover .tooltip:before {
        background: #ffd800;
    }

    .circulo_img .nuevo:hover .tooltip:before {
        background: #ffd800;
    }


    .contenedor {
            display: flex;
            justify-content: center;
        }

    